.full-content{
	background-color: #fef6e8;
}
ul li{
	list-style: none;
	text-decoration: none;
	float: left;
	padding-left: 20px;
}
.container{
	position: relative;
	/*font-size: 1.5em;*/
	text-align: center;
}
.form-group{
	margin-top: 20px;
	/*padding-top: 10px;*/
}
input{
	height: 30px;
	width: 300px;
}
.agreement{
	font-size: .5em;
	width:50px;
	height: 0;
}
.form-control{
	border: none;
}
.btn-register{
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}
.panel-footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 20px;
	text-align: center;
}
.panel-footer p{
	margin-top: -10px;
}
.btn-login{
	font-size: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form_group ul{
	margin-left: 480px;
}


/*.tip{
	margin-left: -50px;
	margin-right: 0;
}*/