<header class="navbar-nav nav" id="nav">
<div class="nav-header">
  <h2>欢迎来到myblog</h2>
</div>
<div class="container">
  <nav class="row">
    <ul class="col-md-8">
      <li class="col-md-2 navbar-brand"><a href="#" class="active">首页</a></li>
      <li class="col-md-2 navbar-brand"><a href="#">博文</a></li>
      <li class="col-md-2 navbar-brand"><a href="#">评论</a></li>
    </ul>
    <ul class="col-md-4">
      <li class="col-md-2 col-md-offset-8 navbar-btn"><a href="#">注册</a></li>
      <li><a href="#" class="col-md-2 navbar-btn">登录</a></li>
    </ul>
  </nav>
  
    
 </div>
  
</header>